.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-t1_sTNhrs7H0ZQ);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 350px) {
  .header:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__rmw1Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .freeBox__rmw1Q {
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.section {
  flex-direction: column;
  display: flex;
  width: 60%;
  height: auto;
  padding-bottom: 41px;
  transition-property: all;
  transition-duration: 1s;
  padding-top: 119px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .section {
    width: 95%;
    padding-top: 48px;
    padding-bottom: 54px;
  }
}
@media (min-width: 0px) and (max-width: 350px) {
  .section > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 350px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.reveal___39KnM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  transform-origin: -110% 50%;
}
@media (min-width: 0px) and (max-width: 350px) {
  .reveal___39KnM:global(.__wab_instance) {
    text-align: center;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-UpYVGsqeDTxlKV);
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 350px) {
  .h1 {
    text-align: center;
    font-size: 42px;
  }
}
.reveal__kOnjS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 350px) {
  .reveal__kOnjS:global(.__wab_instance) {
    width: 302px;
  }
}
.text__aUcBt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 36px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 350px) {
  .text__aUcBt {
    font-size: 24px;
  }
}
.freeBox___5Ud8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .freeBox___5Ud8 {
    padding-top: 0px;
  }
}
.reveal__jrpJy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: 39px;
}
.play:global(.__wab_instance) {
  max-width: 100%;
  width: 87px;
  height: 40px;
  display: none;
}
.svg__jT3G3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__seEpw {
  font-size: 20px;
}
.svg__i4Blo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lXmJs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 350px) {
  .text__lXmJs {
    text-align: center;
  }
}
.link__ag7I {
  color: var(--token-7haCtBUPWgd76T);
  font-weight: 700;
}
.link__cSIt {
  color: var(--token-nHhgpMB0JLvcyx);
  font-weight: 700;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
