.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-t1_sTNhrs7H0ZQ);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 421px) {
  .header:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___8QceR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
  left: auto;
  top: auto;
  height: 100%;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 421px) {
  .freeBox___8QceR {
    padding-top: 0px;
    left: auto;
    top: auto;
    max-width: 100%;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-UpYVGsqeDTxlKV);
  padding-top: 55px;
  padding-bottom: 27px;
  font-weight: 600;
  padding-left: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 32px;
  }
}
.freeBox__hoD6L {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 421px) {
  .freeBox__hoD6L {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.link__wWqc6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__y2H3Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__y2H3Z > picture > img {
  object-fit: cover;
}
.img__y2H3Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__eNyN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__eNyN {
    font-size: 24px;
  }
}
.link___8C8S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__vvdy0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vvdy0 > picture > img {
  object-fit: cover;
}
.img__vvdy0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__awxNs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__awxNs {
    font-size: 16px;
  }
}
.link__rdL6M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__mHtMk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mHtMk > picture > img {
  object-fit: cover;
}
.img__mHtMk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__bq5S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__bq5S {
    font-size: 16px;
  }
}
.link__hIYf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img___5ZHEg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5ZHEg > picture > img {
  object-fit: cover;
}
.img___5ZHEg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__igzp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__igzp0 {
    font-size: 16px;
  }
}
.link__auWhy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__gyTxz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gyTxz > picture > img {
  object-fit: cover;
}
.img__gyTxz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___4SKow {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text___4SKow {
    font-size: 16px;
  }
}
.link__ezoAp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__lV34W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lV34W > picture > img {
  object-fit: cover;
}
.img__lV34W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__bz7W0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__bz7W0 {
    font-size: 16px;
  }
}
.link___4RQ7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__pzDj6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pzDj6 > picture > img {
  object-fit: cover;
}
.img__pzDj6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__oBDkM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__oBDkM {
    font-size: 16px;
  }
}
.link__zQz3I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__mLyFz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mLyFz > picture > img {
  object-fit: cover;
}
.img__mLyFz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qGctf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__qGctf {
    font-size: 16px;
  }
}
.link__qfGuu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__hD2It {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__hD2It > picture > img {
  object-fit: cover;
}
.img__hD2It > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__j0W5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__j0W5O {
    font-size: 16px;
  }
}
.link__vaEuD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__rfHTd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rfHTd > picture > img {
  object-fit: cover;
}
.img__rfHTd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nFa2D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text__nFa2D {
    font-size: 16px;
  }
}
.link__zz7Ej {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__mvxuX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mvxuX > picture > img {
  object-fit: cover;
}
.img__mvxuX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___2KvnC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text___2KvnC {
    font-size: 16px;
  }
}
.link__zmm6D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__tgjMg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tgjMg > picture > img {
  object-fit: cover;
}
.img__tgjMg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___8TqV5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 421px) {
  .text___8TqV5 {
    font-size: 16px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
