.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-t1_sTNhrs7H0ZQ);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 320px) {
  .header:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___8QceR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
  left: auto;
  top: auto;
  height: 100%;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox___8QceR {
    padding-top: 0px;
    left: auto;
    top: auto;
    max-width: 100%;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-UpYVGsqeDTxlKV);
  padding-top: 55px;
  padding-bottom: 27px;
  font-weight: 600;
  padding-left: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 32px;
  }
}
.freeBox__hoD6L {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__hoD6L {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.link__wWqc6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__y2H3Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__y2H3Z > picture > img {
  object-fit: cover;
}
.img__y2H3Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__eNyN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__eNyN {
    font-size: 24px;
  }
}
.link___8C8S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__kiZq1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__kiZq1 > picture > img {
  object-fit: cover;
}
.img__kiZq1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__awxNs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__awxNs {
    font-size: 16px;
  }
}
.link___0Avyv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__x8Eu0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__x8Eu0 > picture > img {
  object-fit: cover;
}
.img__x8Eu0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nf1A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__nf1A {
    font-size: 16px;
  }
}
.link__l9Abd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__aPv0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__aPv0R > picture > img {
  object-fit: cover;
}
.img__aPv0R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ukAmb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__ukAmb {
    font-size: 16px;
  }
}
.link__caoY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__tn0Qu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__tn0Qu > picture > img {
  object-fit: cover;
}
.img__tn0Qu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ys4Z5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__ys4Z5 {
    font-size: 16px;
  }
}
.link__h0EN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__ppcLn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__ppcLn > picture > img {
  object-fit: cover;
}
.img__ppcLn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__yqtdb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__yqtdb {
    font-size: 16px;
  }
}
.link__bqXei {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__nDz1F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__nDz1F > picture > img {
  object-fit: cover;
}
.img__nDz1F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qn8Oy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__qn8Oy {
    font-size: 16px;
  }
}
.link__mtTwD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__xwRs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__xwRs > picture > img {
  object-fit: cover;
}
.img__xwRs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__sbOa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__sbOa {
    font-size: 16px;
  }
}
.link___7Zuo6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__vsRdk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__vsRdk > picture > img {
  object-fit: cover;
}
.img__vsRdk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__fetU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__fetU {
    font-size: 16px;
  }
}
.link__ffcZ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__f078Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__f078Y > picture > img {
  object-fit: cover;
}
.img__f078Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ztgIl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__ztgIl {
    font-size: 16px;
  }
}
.link__tbExw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__kKmsw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__kKmsw > picture > img {
  object-fit: cover;
}
.img__kKmsw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__z8ENf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__z8ENf {
    font-size: 16px;
  }
}
.link__ryaDq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.img__nsjpT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__nsjpT > picture > img {
  object-fit: cover;
}
.img__nsjpT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__zQnQ3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-UpYVGsqeDTxlKV);
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__zQnQ3 {
    font-size: 16px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
